body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

hr {
    display: none;
}

div:nth-child(n+1) {
    padding: 2.5%;
}





#estatisticas {
    background-color: #231F1E;
    color: #8E8985;
}

#depoimentos {
    background-color: #5D4237;
    color: #8E8985;
}

#conteudos {
    background-color: #231F1E;
    color: #8E8985;
}





#principal {
    background-image: url('./images/pexels-lil-artsy-1394646.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: white;

    padding-top: 2.5%;
}

#principal h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#principal section {
    width: 45%;
}

#principal section:nth-child(2) {
    width: 5%;
}

#principal form {
    width: 100%;
    padding: 10%;
}

#divulga-ebook {
    width: 200px;
    height: 300px;
}




.card {
    text-align: justify;
}


